# also, run this: git config --global core.excludesfile ~/.gitignore_global

.DS_Store
.idea
dist
node_modules
package.json
photos/srcset/
photos/set1/
photos/set2/
photos/start/
photos/dest/
photos/renamed/

archives/
**/archives/
album-photos/renamed/
**/__pycache__/


